@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Revolutionizing Learning</h1>
    <p>Athena is the next generation learning management system for an online-centric generation.</p>
</div>
